# ==========================
# UNITY
# ==========================

unity/**/[Ll]ibrary/
unity/**/[Tt]emp/
unity/**/[Oo]bj/
unity/**/[Ll]ogs/
unity/**/[Mm]emoryCaptures/
unity/**/UserSettings/

# ==========================
# UNITY BUILDS
# ==========================

unity_builds/

# ==========================
# WEBGL EXPORTS TEMPORALES
# ==========================

Build/
Builds/

# ==========================
# VISUAL STUDIO
# ==========================

.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# ==========================
# JETBRAINS RIDER
# ==========================

.idea/

# ==========================
# WINDOWS
# ==========================

Thumbs.db
Desktop.ini

# ==========================
# MACOS
# ==========================

.DS_Store

# ==========================
# LOGS
# ==========================

*.log